@import url("../../responsive/style.css");
/** * For modern browsers * 1. The space content is one way to avoid an Opera bug when the *    contenteditable attribute is included anywhere else in the document. *    Otherwise it causes space to appear at the top and bottom of elements *    that are clearfixed. * 2. The use of `table` rather than `block` is only necessary if using *    `:before` to contain the top-margins of child elements. */
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/** * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.cf {
  *zoom: 1;
}

html {
  height: 100%;
  min-height: 100%;
  height: auto !important;
}

body {
  background: #fff;
  height: 100%;
  min-height: 100%;
  height: auto !important;
}

#container {
  max-width: 1170px;
}

#header #logo {
  margin-bottom: 20px;
  margin-top: 25px;
}
#header .social {
  float: right;
  margin-bottom: 0;
  text-align: right;
}
#header .social .social-icons li {
  display: inline-block;
  list-style-type: none;
  margin-right: 12px;
  margin-top: 68px;
}

.menu .current_page_item a, .menu .current-menu-item a {
  background: none;
}

#wrapper {
  border: none;
  margin: 5px 0 20px 0 !important;
}

#featured {
  border: none;
  margin: 0;
  padding: 0;
}
#featured #featured-image {
  margin: 0;
  padding: 0;
}
#featured #featured-image img {
  margin: 0 !important;
  width: 100%;
}

#widgets {
  background: #eeeced;
  margin-top: 20px !important;
  padding: 35px 40px;
}
#widgets div.grid {
  margin-top: 20px;
}
#widgets .col-300 .widget-wrapper {
  background: none;
  border: none;
}

.site-description {
  display: none;
}

.banner {
  background: #53526a;
  color: #fff;
  margin-bottom: 20px;
  padding: 50px;
}
.banner h2 {
  line-height: 100%;
  margin: 0;
}

.news .grid {
  margin-bottom: 0;
}
.news .sidebar {
  background: #e9e7e8;
  height: 100%;
  padding: 35px 0;
  text-align: center;
}
.news .sidebar .menu {
  background: #e9e7e8;
  border: 0;
  margin: 0;
  padding: 0;
}
.news .sidebar .menu li {
  background: #e9e7e8;
  margin-left: 30px;
}
.news .sidebar .menu li a {
  background: #e9e7e8;
}
.news .main {
  padding: 35px 40px;
}
.news .main h3 {
  line-height: 100%;
  margin: 0;
}

.news-entry {
  margin-top: 50px;
}
.news-entry h3.news-entry-title {
  line-height: 100%;
  margin: 0 0 5px;
}
.news-entry .news-entry-date {
  line-height: 100%;
  margin: 0 0 5px;
}
.news-entry .news-entry-content {
  margin: 0;
}
.news-entry .news-entry-content p {
  margin-top: 0;
}

.menu {
  background: #fff;
  border-top: 1px solid #ccc;
  position: relative;
  z-index: 1;
}
.menu li {
  padding: 0 3.846153846154%;
  margin-top: 7px;
}
.menu li .sub-menu {
  left: 40px;
  display: inline-block;
  position: absolute;
  border: none;
}
.menu li .sub-menu li {
  border: none;
}
.menu li a {
  border: none;
  color: #666;
  text-shadow: none;
}
.menu li a:first-child {
  padding-left: 0;
}
.menu li a:hover {
  background: #fff;
  color: #666;
}

section {
  position: relative;
}
section .search {
  bottom: 13px;
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 0;
  min-width: 24px;
  z-index: 2;
}
section .search #search {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #858788;
  border-left: 8px solid #858788;
  border-right: 24px solid #858788;
  border-radius: 3px;
  display: none;
  left: 0;
  padding-left: 0;
  padding-right: 15;
  position: relative;
}
section .search #search.open + .search-button {
  background: url(../images/search-over.png) center center no-repeat;
}
section .search-button {
  background: url(../images/search.png) center center no-repeat;
  bottom: 0;
  display: inline-block;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
}
section .search-button:hover {
  background: url(../images/search-over.png) center center no-repeat;
}

.msie-box {
  max-width: 1170px;
}

#footer {
  background: #191119;
  max-width: 1170px;
  padding: 0;
}
#footer p {
  margin: 10px 0;
}
#footer p:first-child {
  margin-top: 20px;
}
#footer p a {
  color: #89888a;
}
#footer .footer-menu {
  margin-top: 15px;
}
#footer .footer-menu li {
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
}
#footer .footer-menu li a {
  border: none;
  color: #fff;
  font-size: 12px;
}
#footer .footer-menu li ul.sub-menu {
  margin: 5px 0 0;
  padding: 0;
}
#footer .footer-menu li ul.sub-menu li {
  display: block;
  margin: 0;
  padding: 0;
}
#footer .footer-menu li ul.sub-menu li a {
  border: none;
  color: #89888a;
  font-size: 11px;
  padding: 0;
}
#footer #footer-wrapper {
  padding: 0 20px;
}
#footer .rda {
  border-bottom: 1px solid #423156;
  padding: 16px 0;
}
#footer .rda h6 {
  color: #fff;
  display: inline-block;
  margin-left: 12px;
}
#footer .rda .grid {
  margin: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.overlay div.contact {
  background: #fff;
  left: 50%;
  margin-left: -260px;
  margin-top: 100px;
  padding: 35px;
  position: absolute;
  width: 520px;
}
.overlay div.contact form {
  margin: 0;
}
.overlay div.contact form label {
  display: block;
}
.overlay div.contact h3 {
  margin-top: 0;
}
.overlay div.contact div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.overlay div.contact div:nth-child(even) {
  padding-right: 35px;
}
.overlay div.contact div:nth-child(odd) {
  padding-left: 35px;
}
.overlay div.contact div input {
  margin-bottom: 10px;
}
.overlay div.contact div textarea {
  height: 150px;
  width: 100%;
}
.overlay div.contact .comments {
  display: block;
  float: none;
  padding-right: 0 !important;
  width: 100%;
}
.overlay div.contact .submit {
  display: block;
  float: right;
  padding: 0 !important;
  text-align: right;
}
.overlay div.contact .submit input {
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .menu li {
    padding: 0 2.136752136752%;
  }
}
